[buildout]
parts = django
        flake8
        check
        robotframework
        long-check
        functional-tests
develop = .
eggs = pamietacz
src-directory = ${buildout:directory}/src/pamietacz

[django]
recipe = djangorecipe
project = pamietacz
projectegg = pamietacz
settings = development
test = pamietacz
testrunner = unit-tests
eggs = ${buildout:eggs}

[flake8]
recipe = zc.recipe.egg
eggs = flake8

[check]
recipe = lovely.recipe:mkfile
path = ${buildout:bin-directory}/check
mode = 0755
content = #!/bin/bash
 set -e
 source_files=$(find ${buildout:src-directory} -name "*.py")
 green='\e[0;32m'
 nocolor='\e[0m'
 echo -e "$green ======= flake8 ======= $nocolor"
 # Ignore star * import warnings.
 ${buildout:bin-directory}/flake8 --ignore=F403 --max-complexity 14 $source_files
 echo -e "$green ======= test ======= $nocolor"
 ${buildout:bin-directory}/unit-tests

[robotframework]
recipe = zc.recipe.egg
eggs = robotframework 
       robotframework-selenium2library
       selenium
       
[long-check]
recipe = lovely.recipe:mkfile
path = ${buildout:bin-directory}/long-check
mode = 0755
content = #!/bin/bash
  set -e
  ${buildout:bin-directory}/check
  green='\e[0;32m'
  nocolor='\e[0m'
  echo -e "$green ======= pybot ======= $nocolor"
  ${buildout:bin-directory}/functional-tests
  
[functional-tests]
recipe = lovely.recipe:mkfile
path = ${buildout:bin-directory}/functional-tests
mode = 0755
content = #!/bin/bash
  test_server_port=8001
  settings_file=pamietacz.functional_tests
  ${buildout:bin-directory}/django sqlclear --settings=$settings_file pamietacz | ${buildout:bin-directory}/django dbshell --settings=$settings_file
  ${buildout:bin-directory}/django syncdb --settings=$settings_file --noinput
  ${buildout:bin-directory}/django runserver --settings=$settings_file $test_server_port &
  django_server_pid=$!
  sleep 2
  tests=${buildout:directory}/functional_tests
  if [ ! $# -eq 0 ]
  then
     tests="$@"
  fi
  ${buildout:bin-directory}/pybot --variable PORT:$test_server_port $tests
  pybot_exit_status=$?
  kill $django_server_pid
  kill $(lsof -i tcp:$test_server_port -t)
  ${buildout:bin-directory}/django flush --settings=$settings_file --noinput
  exit $pybot_exit_status
